body {
    font-family: 'Arial', sans-serif;
    background-color: #bfbfc5;
    margin: 0;
    padding: 0;
    color: #8e8787;
  }
  
  .header {
    background-color: #303438;
    color: white;
    padding: 20px 0;
    text-align: center;
  }
  
  .header h1 {
    margin: 0;
  }
  
  .main-content {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: rgb(21, 19, 19);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  h2 {
    color: #a2a6a9;
  }
  
  .phone-details p {
    font-size: 20px;
    font-weight: bold;
  }
  
  a {
    text-decoration: none;
    color: #b0b1b1;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  .working-hours {
    margin-top: 20px;
  }
  
  .working-hours h3 {
    margin-bottom: 10px;
    color: #555;
  }
  
  .footer {
    background-color: #222;
    color: white;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
  }
  
  .footer p {
    margin: 0;
  }
  