body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url(bghc1.jpg);
    background-size: cover;
  }
  
  .container {
    .container{
        border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
    }
  }
  
  .container {
    border: 2px solid white;
    margin: 106px 80px;
    padding: 75px;
    width: 33%;
    border-radius: 28px;
    top: 500px;
    right:30px;
}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}


.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}


  h1 {
    color: #333;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
    color: #555;
  }
  
  input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button {
    background-color: #24343c;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #323934;
  }
  
  #result {
    margin-top: 20px;
    color: #333;
    font-weight: bold;
  }
  